*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
package-lock.json

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
.vs/
dist/
node_modules/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
